.formbox {
  margin: 50px;
  padding: 0 99px 35px;
  box-shadow: 10px 10px 5px #aaaaaa;
  background-color: #e6ecec;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.frominput{
	position: relative;
  width:100%;
  border:none;
  border: 1px solid gray;
  border-radius:5px;
  padding: 10px 20px;
  font-size:22px;
  color:gray;
  height: 100px;
}
.submitbutton{
  background-color: #2b8548;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}